*.gem
.bundle
.sass-cache
_site
Gemfile.lock

.idea
.vscode
.yardoc
_yardoc
coverage
doc
pkg
spec/reports
tmp
vendor/cache
vendor/bundle
node_modules
*.gem
*.lock
.rvmrc
.rbenv-version
.DS_Store

/_posts
/_pages
