<div class="navbar-bg"></div>
<nav class="navbar navbar-expand-lg main-navbar">
  <div class="container">
    <a href="/" class="navbar-brand sidebar-gone-hide">{{ site.title }}</a>
    <a href="/" class="nav-link sidebar-gone-show"><strong>{{ site.title | [0] }}</strong></a>
    <ul class="navbar-nav navbar-right">
      <li><a href="#" class="nav-link nav-link-lg"><i class="fab fa-github"></i></a></li>
      <li><a href="#" class="nav-link nav-link-lg"><i class="fab fa-linkedin"></i></a></li>
      <li><a href="#" class="nav-link nav-link-lg"><i class="fab fa-instagram"></i></a></li>
      <li><a href="#" class="nav-link nav-link-lg"><i class="fab fa-twitter"></i></a></li>
    </ul>
  </div>
</nav>
